body.page-container {
  font-family: sans-serif;
  margin: auto;
  padding: 15px;
}

.headline{
  text-align: center;
  margin-bottom: 10px;
}

.section {
  border: solid grey;
  border-width: 0px;
  border-bottom-width: 2px;
}

img {
  margin: auto;
  max-width: 300px;
  height: auto;
  width: auto;
  display: block;
}

.date-span {
  float: right;
}

.experience-set div{
  padding-bottom: 10px;
  padding-left: 10px;
}

.experience-set p{
  margin: 2px;
}

p.skills {
  padding-left: 10px;
}