body.page-container {
  font-family: sans-serif;
  margin: auto;
  padding: 40px;
}

.headline {
  text-align: center;
  margin-bottom: 10px;
}

.section {
  border: solid grey;
  border-width: 0px;
  border-bottom-width: 2px;
  border-style: groove;
}

img {
  margin: auto;
  max-width: 300px;
  height: auto;
  width: auto;
  display: block;
  border: solid green;
  border-width: 5px;
  border-style: inset;
  border-radius: 10px;
}

.date-span {
  float: right;
}

.experience-set div{
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px
}

.experience-set p {
  margin: 2px;
}

.text-indent {
  padding-left: 80px;
  padding-right: 80px;
}

ul {
  margin-top: 2px;
  margin-bottom: 10px;
  padding-left: 20px;
}

h1 {
  margin: 0px;
}