.headline {
  text-align: center;
  margin-bottom: 5px;
}

.section {
  border: solid grey;
  border-width: 0px;
  border-bottom-width: 2px;
}

img {
  margin: auto;
  max-width: 300px;
  height: auto;
  width: auto;
  display: block;
}

.date-span {
  float: right;
}

.experience-set div{
  padding-bottom: 10px;
  padding-left: 5px;
}

.experience-set p{
  margin: 5px;
}